body {
  font-family: Arial, sans-serif;
  width: 300px;
}

header {
  display: flex;
  align-items: center;
}

header svg {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

.color-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#colorCodes {
  margin-top: 20px;
}

#colorCodes input {
  width: 100%;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.color-info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  font-size: 1.1em;
}

.color-values label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.color-values input[type="text"] {
  margin-right: 10px;
}

.recent-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recent-colors-grid {
  display: grid;
  grid-template-columns: repeat(11, 1fr); 
  gap: 10px;
  padding-top: 10px;
}
